<%= link_to "Create New Team", new_team_path %>
<h1>All Teams</h1>

<h1><%= @team.name%></h1>
<p><%=@team.email%></p>
<ul>
  <li><%= link_to "Edit", edit_team_path(@team) %></li>
  <li><%= link_to "Destroy", team_path(@team), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>
