<% if current_user %>
  <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
      <% if current_user.admin?%>
        <h1>hello <%= current_user.email %></h1>
        <p>you are <%= current_user.role %></p>
        <p>Create a Team: <%= link_to "Create", new_team_path%></p>






      <%elsif current_user.qa? %>
        <h1>hello <%= current_user.email %></h1>
        <p>you are <%= current_user.role %></p>
      <%else%>
        <h1>hello <%= current_user.email %></h1>
        <p>you are <%= current_user.role %></p>
      <% end %>
<% else %>
<h1>You are not signed in</h1>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
<% end %>
